

body {
    width: 100%;
    height: 100%;
    background-color: gray
}

 .general{

    margin: auto;
    width: 80%;
    height: 80%;
    background-color:white
}

.contenidoExtra {

    float: right;
    width: 19%;
    height: 100%;
    background-color:white
}

.contenidoExtra h4 {

    color: black

}

.contenidoExtra p {

    color: orange

}

.contenido {

    width: 79%;
    height: 100%;
    background-color:white

}

.menu {
    width: 98%;
    background-color: orange

}

.menu li { display:inline-block;}
.menu li a {padding: 10px 20px; display: inline-block; font-size: 15px; color: white; margin: 0px 0px}

.menu li a:hover{

    background: black;
    display:inline-block;
    box-shadow: 10px 10px black
}

p {font-size: 15px; text-align: justify}
h1{
    color: white;

}

h2{

    color: white;
    width: 700px
}